<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.easytour"
    android:versionCode="318"
    android:versionName="3.1.8">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="轻·游"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sendluggage.luggage" />
        <activity android:name=".createluggage.NewTravel" />
        <activity android:name=".createluggage.selectyourluggage.SelectLuggages" />
        <activity android:name=".allluggage.Allluggages" />
        <activity android:name=".sendluggage.city.CityList" />
        <activity android:name=".sendluggage.Submission" />
        <activity android:name=".Login.Login" />
        <activity android:name=".traveltips.CreateTips" />
        <activity android:name=".sendluggage.delivery.Delivery" />
        <activity android:name=".Personal.Personallnf" />
        <activity android:name=".test.CommentStudy" />

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.example.easytour" />
            </intent-filter>
        </activity>

    </application>

</manifest>